<table>
	<tr>
		<td>El número de preguntas</td>
		<td><%= numPreguntas %></td>
	</tr>
	<tr>
		<td>El número de comentarios totales</td>
		<td><%= numComentarios %></td>
	</tr>
	<tr>
		<td>El número medio de comentarios por pregunta</td>
		<td><%= mediaComentariosPorPregunta %></td>
	</tr>
	<tr>
		<td>El número de preguntas sin comentarios</td>
		<td><%= numPreguntasSinComentarios %></td>
	</tr>
	<tr>
		<td>El número de preguntas con comentarios</td>
		<td><%= numPreguntasConComentarios %></td>
	</tr>
</table>